body {
  background-color: #ffebb0;
  font-size: 0.8em;
}
body, textarea {
  font-family: "Lucida Sans", Verdana, Arial, sans-serif;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans", Verdana, Arial, sans-serif;
}
#container {
  width: 48em;
}
#stack {
  position: relative;
  margin: 0 auto;
}
#stack, #HS_video, #HS_subdisplay {
  width: 320px;
}
#HS_subdisplay {
  position: absolute;
  bottom: 40px;

  text-align: center;
  vertical-align: bottom;
  font-family: sans-serif;
  font-weight: bold;

  line-height: 1.3em;

  color: #fff;
  text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px;
}
#HS_subtitles {
  height: 17em;
  overflow: auto;
  border: inset 2px;
  background-color: #fff;
}
.HS_listitem {
  position: relative;
  border-bottom: 1px solid #ccc;
  cursor: default;
}
.HS_listitem .HS_time {
  position: absolute;
}
.HS_buttonholder {
  width: 1.3em;
  display: inline-block;
}
.HS_listitem button {
  padding: 0;
  line-height: 0.6em;
  width: 1.3em;
  height: 1.3em;
}
.HS_selected {
  background-color: #dc8;
}
.HS_listtext, .HS_listtext_empty {
  margin-left: 12.5em;
}
.HS_listitem textarea {
  margin-left: 12em;
}
.HS_listtext_empty {
  color: #ccc;
}
