body {
  background-color: #ffebb0;
}
body, textarea {
  font-family: "Lucida Sans", Verdana, Arial, sans-serif;
  font-size: 10pt;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans", Verdana, Arial, sans-serif;
}
#HS_gui-container, #HS_stl-container, #HS_help {
  width: 48em;
  position: absolute;
}
#HS_help {
    background-color: #222;
    opacity: .85;
    border-radius: 10px;
    color: #fff;
}
#HS_help div {
    margin: 1em;
}
#HS_help table {
    width: 100%;
}
.top {
    border-top: 1px solid #999;
}
td.HS_key, td.HS_help-links {
    text-align: right;
}
#HS_help-close {
    color: #dd0;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.HS_help-title {
    font-weight: bold;
}
span.HS_key {
    font-family: "Courier New", monospace;
    font-weight: bold;
    color: #dd0;
}
#HS_stl-container textarea {
  width: 100%;
}
#stack {
  position: relative;
  margin: 0 auto;
}
#stack, #HS_video, #HS_subdisplay {
  /*width: 320px;*/
  width: 48em;
}
#HS_subdisplay {
  position: absolute;
  bottom: 40px;

  text-align: center;
  vertical-align: bottom;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;

  line-height: 1.3em;

  color: #fff;
  text-shadow: #000 0 0 2px, #000 0 0 2px, #000 0 0 2px;
}
#HS_subtitles {
  position: relative;
  height: 17em;
  overflow: auto;
  border: inset 2px;
  background-color: #fff;
}
.HS_listitem {
  position: relative;
  border-bottom: 1px solid #ccc;
  cursor: default;
}
.HS_listitem .HS_time {
  position: absolute;
}
.HS_buttonholder {
  width: 2.5em;
  display: inline-block;
}
.HS_listitem button {
  padding: 0;
  line-height: 0.6em;
  width: 2.5em;
  height: 1.3em;
}
.HS_selected {
  background-color: #dc8;
}
.HS_listtext, .HS_listtext_empty {
  margin-left: 16.5em;
}
.HS_listitem textarea {
  margin-left: 16.5em;
  width: 29.5em;
}
.HS_listtext_empty {
  color: #ccc;
}
